<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <% include ./partials/messages %>
        <p class="text-center">Please click the link in the verification email we sent.</p>
        <a href="/users/login" class="btn btn-primary btn-block">Verified Email</a>
      </div>
    </div>
  </div>